body{
  font-family: Arial, Helvetica, sans-serif;
  background:#f2f4f8;
  margin:0;
  padding:20px;
  text-align:center;
}

/* TITULOS */
h1{
  color:#222;
}

/* TARJETAS
.navbar{
  position:fixed;
  top:0;
  left:0;
  right:0;
  background:#ff3c2e;
  color:white;
  padding:12px;
  font-weight:bold;
  box-shadow:0 2px 6px rgba(0,0,0,0.2);
  z-index:1000;
}

.navbar a{
  color:white;
  margin:0 10px;
  text-decoration:none;
}

body{
  padding-top:70px;
}

